@font-face {
    font-family: "Figerona";
    src: url("../assets/Figerona.ttf");
}

* {
    overflow: hidden;
    background-color: black;
}

.startMenu .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    width: 50%;
}

.startMenu .intro {
    color: white;
    display: none;
}

.intro .h2First {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 200;
    margin-top: -8vh;
    margin-bottom: 2vh;
    font-family: "Figerona";
}

.intro .h2Second {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 200;
    font-family: "Figerona";
}

.intro video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.intro .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    width: 35%;
}

.endMenu {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
}

.endMenu img {
    width: calc(100% - 3vw);
    height: calc(100% - 3vw);
    object-fit: cover;
    margin: 1.5vw;
    border-radius: 1.2vw;
}

.endMenu #qrcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12vw;
    background-color: transparent;
}

.endMenu #qrcode img {
    border-radius: 0;
    object-fit: contain;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
}

.myVideo {
    display: none;
    top: 0;
    left: 0;
}

@keyframes qrCodeArrived {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}